# Node dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Tooling caches
.vite/
.cache/
.parcel-cache
.temp
.svelte-kit/
.vuepress/dist
.vuepress/.cache
.docusaurus

# Environment variables / secrets
.env
.env.*
!.env.example
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage
coverage/
.nyc_output/
*.lcov

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archives / packages
*.zip
*.tgz

# Other tool outputs
.next/
.nuxt/
out/
.cache/
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

